/*====TABLE==== */
table {
  margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  background: #968c8c;
  border: #ccc 1px solid;
  margin-bottom: 50px;
}

table th {
  padding: 4px 2px;
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #a9abac;
  font-size: x-large;
  font-weight: lighter;
}

table th:first-child {
  border-left: none;
}

table tr {
  text-align: center;
  padding-left: 10px;
  font-weight: bold;
}

table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}

table td {
  padding: 5px 15px;
  border-top: 1px solid #444141;
  border-bottom: 1px solid #585555;
  border-left: 1px solid #e0e0e0;
  background: #837f7f;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#91e9e9),
    to(#e7e2e2)
  );
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:hover td {
  background: #444242;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#b99595),
    to(#f0f0f0)
  );
  background: -moz-linear-gradient(top, #292727, #705151);
}

/*===== PAGINATION ====== */

.pagination {
  margin-left: 250px;
  margin-bottom: 10px;
  color: #161515;
  font-weight: bold;
  margin-bottom: 40px;
}

div.pagination {
  margin-top: 50px;
  display: flex;
  width: 550px;
  justify-content: center;
  align-items: center;
  margin-left: 370px;
}

div.pagination span {
  padding: 5px 10px;
  border: 1px solid rgb(39, 38, 38);
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

div.pagination span:last-child {
  margin-right: 0;
}

div.pagination span.active {
  background-color: rgb(173, 10, 179);
}

span.page {
  color: rgb(36, 34, 34);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

span.page-active {
  background-color: #1b92c9;
  color: rgb(27, 133, 182);
  font-weight: bold;
}

span.page:hover:not(.active) {
  background-color: rgb(27, 124, 131);
}

.button-delete {
  margin-left: 10px;
  background-color: rgb(241, 36, 36);
  color: rgb(247, 255, 255);
  border-radius: 10px;
}

.editButton {
  background-color: rgb(237, 253, 7);
  color: rgb(5, 5, 5);
  border-radius: 10px;
}

.diskonButton {
  background-color: rgb(7, 134, 253);
  color: rgb(5, 5, 5);
  border-radius: 10px;
}

.stokButton {
  background-color: rgb(7, 253, 28);
  color: rgb(5, 5, 5);
  border-radius: 10px;
}

.buttonAdd {
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    rgba(147, 231, 231, 0.678),
    rgb(240, 243, 243)
  );
  color: rgb(56, 55, 55);
}
